@model IEnumerable<AppGestionEMS.Models.Cursos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.actual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.denominacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.actual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.denominacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_Curso }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_Curso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_Curso })
        </td>
    </tr>
}

</table>
